# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment
.env

# Databases
db.sqlite3

# Static/Media
staticfiles/
media/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.production
